* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}
html {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
body {
  width: 100%;
  background-color: #cccccc !important;
  min-height: 100vh;
  padding: 0.3rem;
  margin: 0 auto;
  max-width: 1200px;
}
body {
  width: 100%;
  background-color: #cccccc !important;
  min-height: 100vh;
  padding: 0.3rem;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
.--dark-mode body {
  background-color: #000 !important;
  color: #fff !important;
}
li {
  list-style: none;
}
.txt-color {
  color: #686767;
}
.--dark-mode .header,
.--dark-mode .navbar {
  background-color: #212429;
}
.header,
.navbar,
.footer {
  background-color: #f8f9fb;
  z-index: 2;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4px;
}
.carousel img {
  /* height: 50vh; */
  width: 25%;
  /* height: fit-content; */
  /* object-fit: contain; */
}
.carousel img.fill {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.carousel-control-next,
.carousel-control-prev {
  /* background-color: #7b7777 !important; */
  width: 76px !important;
}
.scale {
  transform: scale(1.2);
}
.movie-short-info {
  width: 25%;
  text-align: center;
  background-color: #6f6f6f;
  color: #fff;
  display: none;
}
.carouselExampleFade {
  position: static;
}
.carousel-inner {
  object-fit: cover;
}
